<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bootstrap/bootstrap.css')}}" rel="stylesheet">
        <script src="{{ asset('js/sorttable.js') }}"></script>
        <link href="{{ asset('c3-0.4.11/c3.css') }}" rel="stylesheet" type="text/css">

        <!-- Load d3.js and c3.js -->
        <script src="{{ asset('c3-0.4.11/d3.js') }}" charset="utf-8"></script>
        <script src="{{ asset('c3-0.4.11/c3.min.js') }}"></script>

    </head>
    <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('resultat_coteList') }}">Cote<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('tennisscore_index') }}">Tennis résultat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('test3') }}">liste des match</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('calculette') }}">Calculette</a>
                </li>
            </ul>
        </div>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
